body {
    margin: 0px;
}

.top {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
}

.top img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.top p {
    font-size: 25px;
    color: rgb(241, 236, 236);
    margin: 0px;
}

#top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

#top-right {
    position: fixed;
    top: 8px;
    right: 16px;
}

#top-right a {
    padding: 10px;
    border: 0ch;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    border: 2px solid white;
}

#top-right a :hover {
    color: brown;
}

.top button {
    font-size: 23px;
    background-color: whitesmoke;
    border: none;
}

.sidenav {
    height: auto;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: skyblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 26px;
    color: whitesmoke;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover {
    color: rgb(34, 30, 30);
}

.main {
    height: 100%;
    width: auto;
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 10px;
    margin-right: 0px;
    display: flex;
}

.main #right {
    height: 500px;
    width: 30%;
}

#right img {
    margin: 20%, 20%;
    width: 150px;
    height: 150px;
    margin-left: 30%;
}

#right p {
    size: 18px;
    margin-left: 20px;
}

#left {
    height: auto;
    width: 70%;
    border-right: 2px solid red;
}

#left #baiviet {
    width: auto;
    height: auto;
}

#left h1,
h3 {
    margin-top: 10px;
}