    form {
        border: 3px solid #f1f1f1;
    }
    
    p {
        font-size: 23px;
    }
    
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    button {
        background-color: none;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    .loginform {
        padding: 16px;
    }
    
    span.pass {
        float: right;
        padding-top: 16px;
    }